@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: #5C8374;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 20px 32px;
  max-width: 325px;
  transition: all ease 1s;
}

.container:hover {
  scale: 0.96;
  background-color: #729b8b;
}


.image {
  margin-bottom: 26px;
  border-radius: 10px;
}

.title {
  font-size: 25px;
  font-weight: 700;
}

.description {
  margin-top: 6px;
  font-size: 18px;
  font-weight: 400;
}

.skills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
}

.skill {
  font-size: 18px;
  font-weight: 400;
  border-radius: 100px;
  background: var(--color-dark);
  padding: 3px 25px;
}

.links {
  width: 100%;
  margin-top: 26px;
  display: flex;
  justify-content: space-between;
}

.link {
  width: 48%;
  text-align: center;
  text-decoration: none;
  color: var(--color-text);
  font-size: 18px;
  font-weight: 400;
  border-radius: 100px;
  background-color: var(--color-bg);
  padding: 5px 10px;
  transition: all ease 0.5s;
}

.link:hover{
  background-color: #286565;
}
