.footer {
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
    /* border-top: 1px solid #ddd; */
    color: var(--color-text);
    margin-top: 79px;
    background-color: var(--color-dark);

    a{
        color: var(--color-primary);
        text-decoration: none;
    }
  }
  